body {
	background-color: #1d2248;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}

h1 {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 80%;
	margin-bottom: 20px;
}

th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4A4E69;
	color: #FFFFFF;
}

#feeder-button {
	background-color: #6D7993;
	color: #FFFFFF;
	padding: 16px 24px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 4px 6px #00000029;
}

#feeder-button:hover {
	background-color: #4A4E69;
}

#led-button-1, #led-button-2, #led-button-3, #led-button-4 {
	background-color: #4A4E69;
	color: #FFFFFF;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	margin: auto;
}

#led-button-1:hover, #led-button-2:hover, #led-button-3:hover, #led-button-4:hover {
	background-color: #6D7993;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #6D7993;
}

.normal {
	background-color: #8AB8D9;
	color: #000000;
}

.low {
	background-color: #910000;
	color: #FFFFFF;
}

.high {
	background-color: #910000;
	color: #FFFFFF;

@media (max-width: 768px) {
	table {
		width: 100%;
	}
}